/* Fonts */
@font-face {
  font-family: "Averta-Regular";
  font-style: normal;
  font-weight: regular;
  src: url("../fonts/AvertaDemo-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Averta";
  font-style: normal;
  font-weight: extra-bold;
  src: url("../fonts/AvertaDemoPE-ExtraBold.otf") format("opentype");
}
/* Variables */
:root {
  /* fonts */
  --main-regular-font: "Averta-Regular";
  --main-bold-font: "Averta";
  /* colors */
  --main-dark-color: #000;
  --main-light-color: #fff;
  --accent-color: #7b61ff;
  --secondary-color: #b2b2b3;
}

/* Normalize */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul,
ol,
menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Common styles */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-regular-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;

  margin: 0;
  min-height: 100vh;
}

.container {
  max-width: 480px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-color {
  background-color: var(--main-dark-color);
  color: var(--main-light-color);
}

.section-title {
  font-family: var(--main-bold-font);
  font-size: 80px;
  line-height: 64px;
}

.description {
  font-family: var(--main-regular-font);

  font-size: 24px;
  line-height: 1.33;

  opacity: 0.7;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Hero */
.hero {
  position: relative;

  padding-top: 56px;
  padding-bottom: 56px;
}

.header {
  background-color: transparent;
  margin-bottom: 218px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo {
  display: flex;
  align-items: center;
  gap: 8px;

  font-family: var(--main-regular-font);
  font-size: 20px;
  letter-spacing: -0.02em;
}

.site-logo-icon {
  width: 26px;
  height: 24px;
}

.icon-hamburger {
  width: 24px;
  height: 24px;
}

.main-nav {
  display: none;
}

.nav-menu {
}

.nav-item {
}

.hero-wrapper {
  display: flex;
}

.hero-content {
  width: 50%;
}

.site-heading {
  font-family: var(--main-bold-font);
  font-weight: 800;
  font-size: 96px;
  line-height: 80px;

  margin-bottom: 30px;
}

.hero-form {
  display: flex;
  align-items: center;

  margin-bottom: 50px;
}

.hero-input {
  font-size: 18px;
  color: inherit;

  width: 100%;
  height: 62px;
  padding: 0 16px;
  background-color: transparent;

  padding-left: 32px;
  padding-right: 0;
  border: none;
}

.hero-input::placeholder {
  font-family: var(--main-bold-font);
  line-height: 1.5;
  color: var(--main-light-color);
  letter-spacing: 1px;
}

.hero-form-btn {
  width: 100%;
  max-width: 182px;
  height: 62px;

  padding: 0 14px;
  background-color: var(--accent-color);

  letter-spacing: 2px;
  text-transform: uppercase;

  border-radius: 17px;
}

.store-btn {
  display: flex;
  align-items: center;

  border: 1px solid var(--main-light-color);
}

.icon-store-btn {
  width: 24px;
  height: 24px;
}

.hero-gallery {
}

/* Carousel */
.carousel-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.carousel-content {
}

.section-title {
}

.carousel-title {
}

.carousel-description {
}

.arrow-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
}

.icon-arrow {
  width: 16px;
  height: 16px;
}

.icon-arrow-left {
  transform: rotate(180deg);
}

.carousel-title {
  margin-bottom: 32px;
}

.carousel-description {
  font-size: 24px;
  color: var(--secondary-color);
  line-height: 1.45;

  opacity: 0.7;
}

/* Media */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1224px;
    padding: 0;
  }
}
