html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol,
menu {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

a {
  text-decoration: none;

  color: currentcolor;
}

button {
  padding: 0;

  cursor: pointer;

  color: inherit;
  border: none;
  background-color: transparent;

  font: inherit;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}
