@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --main-font: 'Poppins', sans-serif;

  --main-dark-color: #000;
  --main-light-color: #fff;
  --accent-color: #7b61ff;
  --overlay-color: rgba(0, 0, 0, 0.9);
  --gray-700: #b2b2b3;
  --gray-400: #d9d9d9;
  --slate-50: rgba(255, 255, 255, 0.2);

  --main-animation: 0.3s ease-in-out;
  --opacity-hover: 0.75;

  --z-index-10: 10;
  --z-index-100: 100;
}
