:root {
  --main-font: 'Poppins', sans-serif;

  --primary-color: #000;
  --primary-color-alfa-90: rgb(0 0 0 / 90%);
  --secondary-color: #fff;
  --secondary-color-alfa-20: rgb(255 255 255 / 20%);

  --accent-color: #7b61ff;

  --color-gray-dark: #b2b2b3;
  --color-gray-light: #d9d9d9;

  --main-animation: 0.3s ease-in-out;
  --opacity-hover: 0.75;

  --z-index-low: 10;
  --z-index-hight: 100;
}
