.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: var(--main-light-color);
}

.section-color {
  color: var(--main-light-color);
  background-color: var(--main-dark-color);
}

.section-title {
  font-family: var(--main-font);
  font-size: 42px;
  font-weight: 800;
  line-height: 1;
}

.description {
  margin-bottom: 0;

  opacity: 0.7;

  font-family: var(--main-font);

  font-size: 14px;
  line-height: 1.2;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Media */
@media screen and (width >= 768px) {
  .container {
    max-width: 768px;
  }

  .section {
    padding-top: 209px;
    padding-bottom: 87px;
  }

  .description {
    font-size: 24px;
    line-height: 1.33;
  }

  .section-title {
    font-size: 60px;
  }
}

@media screen and (width >= 1280px) {
  .container {
    max-width: 1224px;
    padding: 0;
  }

  .section-title {
    font-size: 80px;
    line-height: 64px;
  }
}
