.section-showcase {
  padding-top: 0;

  background-image: linear-gradient(
      180deg,
      rgb(0 0 0 / 3%) 9.31%,
      rgb(0 0 0 / 80%) 25.16%,
      #000 45.92%
    ),
    url('../../img/showcase/moto-freestyle.webp');
  background-repeat: no-repeat;
  background-position: top -100px center;
  background-size: contain;

  overflow: hidden;
}

.showcase-container {
  position: relative;
}

.showcase-wrapper {
  margin-bottom: 40px;
}

.showcase-content {
  margin-bottom: 40px;
}

.showcase-title {
  margin-bottom: 32px;
}

.showcase-description {
  margin-bottom: 0;

  opacity: 0.7;

  font-size: 14px;
  line-height: 1.45;
}

/* Media */
@media screen and (width >= 768px) {
  .showcase-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;

    margin-bottom: 100px;
  }

  .showcase-content {
    margin-bottom: 0;
  }

  .showcase-description {
    font-size: 18px;
  }
}

@media screen and (width >= 1280px) {
  .showcase-description {
    font-size: 24px;
  }
}
