<div class='carousel-wrapper'>
  <infinite-scroller
    class="carousel-container"
    orientation="horizontal"
    speed="100"
    direction="left"
  >
    <div class="carousel-item" data-scroller-item>
      <div class="card-image">
        <img
          src="./img/showcase/carousel/1.webp"
          alt="photo of RICKY GERVAIS"
          width="392"
          height="300"
          loading="lazy"
        />
      </div>

      <div class="card-thumb">
        <h3 class="card-title">RICKY GERVAIS</h3>
        <p class="card-description">COMEDIAN</p>
      </div>
    </div>

    <div class="carousel-item" data-scroller-item>
      <div class="card-image">
        <img
          src="./img/showcase/carousel/2.webp"
          alt="photo of SERENA WILLIAMS"
          width="392"
          height="300"
          loading="lazy"
        />
      </div>

      <div class="card-thumb">
        <h3 class="card-title">SERENA WILLIAMS</h3>
        <p class="card-description">TENNIS PLAYER</p>
      </div>
    </div>

    <div class="carousel-item" data-scroller-item>
      <div class="card-image">
        <img
          src="./img/showcase/carousel/3.webp"
          alt="photo RICHARD BRANSON"
          width="392"
          height="300"
          loading="lazy"
        />
      </div>

      <div class="card-thumb">
        <h3 class="card-title">RICHARD BRANSON</h3>
        <p class="card-description">Entrepreneur</p>
      </div>
    </div>

    <div class="carousel-item" data-scroller-item>
      <div class="card-image">
        <img
          src="./img/showcase/carousel/3.webp"
          alt="photo RICHARD BRANSON"
          width="392"
          height="300"
          loading="lazy"
        />
      </div>

      <div class="card-thumb">
        <h3 class="card-title">Theodora Moutinho</h3>
        <p class="card-description">INFLUENCER</p>
      </div>
    </div>
  </infinite-scroller>
</div>
