<div class="menu-overlay" data-menu>
  <nav>
    <ul class="nav-menu">
      <li class="nav-item">
        <a class="nav-link" href="#">Showcase</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Split</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Members</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Create Moments</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Mob app</a>
      </li>
    </ul>
  </nav>
</div>
