<div class="hero-gallery">
  <div class="hero-scroller">
    <infinite-scroller class="gallery-column" orientation='vertical' speed='100' direction='up'>
      <div class="gallery-item gallery-item-row-1" data-scroller-item>
        <img
          src="./img/hero/gallery/row-2/2.webp"
          alt="image of gallery"
          width="260"
          height="424"
          loading="lazy"
        />
      </div>
      <div class="gallery-item gallery-item-row-1" data-scroller-item>
        <img
          src="./img/hero/gallery/row-1/2.webp"
          alt="image of gallery"
          width="260"
          height="424"
          loading="lazy"
        />
      </div>
      <div class="gallery-item gallery-item-row-1" data-scroller-item>
        <img
          src="./img/hero/gallery/row-1/3.webp"
          alt="image of gallery"
          width="260"
          height="424"
          loading="lazy"
        />
      </div>
    </infinite-scroller>

    <infinite-scroller class="gallery-column" orientation='vertical' speed='50' direction='up'>
      <div class="gallery-item gallery-item-row-1" data-scroller-item>
        <img
          src="./img/hero/gallery/row-2/2.webp"
          alt="image of gallery"
          width="260"
          height="424"
          loading="lazy"
        />
      </div>
      <div class="gallery-item gallery-item-row-1" data-scroller-item>
        <img
          src="./img/hero/gallery/row-1/2.webp"
          alt="image of gallery"
          width="260"
          height="424"
          loading="lazy"
        />
      </div>
      <div class="gallery-item gallery-item-row-1" data-scroller-item>
        <img
          src="./img/hero/gallery/row-1/3.webp"
          alt="image of gallery"
          width="260"
          height="424"
          loading="lazy"
        />
      </div>
    </infinite-scroller>
  </div>
</div>
