<div class="menu-overlay js-menu-overlay">
  <nav>
    <menu class="nav-menu">
      <li class="nav-item">
        <a class="nav-link" href="#">Showcase</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Split</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Create Moments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mob app</a>
      </li>
    </menu>
  </nav>
</div>
