/* Burger button */
.hamburger-btn {
  position: absolute;
  z-index: var(--z-index-100);
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 30px;
  height: 16px;

  background-color: transparent;
  gap: 10px;
}

.hamburger-item {
  width: 100%;
  height: 2px;

  transition: opacity var(--main-animation), transform var(--main-animation);

  background-color: var(--main-light-color);
}

.hamburger-item:first-child {
  transform-origin: top;
}

.hamburger-item:last-child {
  transform-origin: bottom;
}

.hamburger-btn[aria-expanded='true'] .hamburger-item:first-child {
  transform: translateY(5px) rotate(45deg);
}

.hamburger-btn[aria-expanded='true'] .hamburger-item:last-child {
  transform: translateY(-8px) rotate(-45deg);
}

.hamburger-btn:hover .hamburger-item,
.hamburger-btn:focus .hamburger-item {
  opacity: var(--opacity-hover);
}

/* Google play and Apple Store buttons */
.store-btn {
  transition: opacity var(--main-animation);
}

.store-btn:hover,
.store-btn:focus {
  opacity: var(--opacity-hover);
}

.icon-google {
  width: 114px;
  height: 40px;
}

.icon-apple {
  width: 100px;
  height: 40px;
}

/* Hero form button */
.hero-form-btn {
  width: 100%;
  max-width: 130px;
  min-height: 48px;

  padding: 0 14px;

  transition: opacity var(--main-animation);

  letter-spacing: 2px;
  text-transform: uppercase;

  border-radius: 17px;
  background-color: var(--accent-color);

  font-weight: 700;
}

.hero-form-btn:hover,
.hero-form-btn:focus {
  opacity: var(--opacity-hover);
}

/* Showcase arrow button */
.arrow-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border: 1px solid var(--slate-50);

  border-radius: 50%;
  background-color: transparent;
}

.icon-arrow {
  width: 16px;
  height: 16px;

  transition: opacity var(--main-animation);
}

.icon-arrow-left {
  transform: rotate(180deg);
}

.arrow-btn:hover .icon-arrow,
.arrow-btn:focus .icon-arrow {
  opacity: var(--opacity-hover);
}

/* Media */
@media screen and (width >= 768px) {
  .hamburger-btn,
  .hamburger-btn-close {
    width: 40px;
    height: 20px;
  }

  .hero-form-btn {
    width: 100%;
    max-width: 182px;
    min-height: 50px;

    padding: 0 14px;
  }
}
