.carousel-wrapper {
  position: relative;

  overflow: hidden;

  width: 100%;
  max-width: 1280px;
  height: 100%;

  margin: 0 auto;
}

.carousel {
  display: flex;

  overflow-x: scroll;
  align-items: center;

  margin-right: -24px;
  scroll-snap-type: x mandatory;
}

.carousel-item {
  position: relative;

  flex-shrink: 0;

  width: calc(100% / 1.25);

  margin-right: 24px;
}

.carousel-item-drugging {
  cursor: grabbing;
}

/* Media */
@media screen and (width >= 768px) {
  .carousel-item {
    width: calc(100% / 2.25);
  }
}

@media screen and (width >= 1024px) {
  .carousel-item {
    width: calc(100% / 3.25);
  }
}
