.carousel {
  display: flex;

  overflow-x: scroll;
  align-items: center;

  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.carousel-item {
  position: relative;

  flex-shrink: 0;

  margin-right: 24px;
  scroll-snap-align: start;
}
