@media screen and (width >= 1280px) {
  .hero-gallery {
    position: absolute;

    z-index: 0;
    top: -300px;
    right: 0;

    display: flex;
    gap: 45px;
  }

  .gallery-column {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .gallery-item {
    width: 260px;
    height: 400px;

    opacity: 0.3;

    border-radius: 32px;
    background-color: var(--gray-400);
  }

  .gallery-column:nth-child(2) {
    transform: translateY(-40%);
  }
}
