.hero-scroller {
  position: absolute;

  z-index: 0;
  top: -300px;
  right: 0;
}

.hero-scroller:nth-child(2){
  top: -100px;
  right: 300px;
}

.hero-gallery {
  display: flex;
  gap: 45px;
}

.gallery-column {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.gallery-item {
  position: relative;

  width: 100%;
  height: 100%;

  border-radius: 32px;
  background-color: var(--primary-color);
}

.gallery-item img {
  object-fit: cover;
}

.gallery-item-row-1:nth-child(2) {
  opacity: 0.3;
}

.gallery-column:nth-child(1) {
  transform: translateY(-294px);
}

.gallery-column:nth-child(2) {
  transform: translateY(-18px);
}

/* } */
