@media screen and (width >= 1280px) {
  .hero-gallery {
    display: flex;
    gap: 45px;
    position: absolute;
    right: 0;
    top: -300px;

    z-index: 0;
  }

  .gallery-column {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .gallery-item {
    background-color: var(--gray-400);

    border-radius: 32px;
    height: 400px;

    opacity: 0.3;
    width: 260px;
  }

  .gallery-column:nth-child(2) {
    transform: translateY(-40%);
  }
}
