.menu-overlay {
  align-items: center;

  background-color: rgb(0 0 0 / 85%);
  bottom: 0;

  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;

  opacity: 0;
  padding: 20px;
  position: fixed;

  transition: all var(--main-animation);
  visibility: hidden;

  width: 100vw;
  z-index: var(--z-index-10);
}

.is-open {
  opacity: 1;
  overflow: auto;
  visibility: visible;
}

.nav-menu {
  counter-reset: menu-counter;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav-item {
  color: var(--main-light-color);
  counter-increment: menu-counter;

  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  transition: opacity var(--main-animation);
}

.nav-item::before {
  color: var(--main-light-color);

  content: counter(menu-counter, decimal-leading-zero) '. ';

  font-size: 24px;
  font-weight: 800;
  margin-right: 16px;
}

.nav-link {
  position: relative;

  transition: opacity var(--main-animation);
}

.nav-link::after {
  background-color: var(--main-light-color);

  content: '';

  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  top: 100%;
  transition: width var(--main-animation);

  width: 0;
}

.nav-link:hover::after,
.nav-link:focus::after {
  width: 100%;
}

.nav-link:hover,
.nav-link:focus {
  opacity: var(--opacity-hover);
}

/* Media */
@media screen and (width >= 768px) {
  .nav-item {
    font-size: 36px;
  }

  .nav-menu {
    gap: 36px;
  }
}
