<section class="section-color hero">
  <!-- Header -->
  <header class="header">
    <div class="container">
      <div class="navbar">
        <a class="site-logo" href="/">
          <svg class="site-logo-icon">
            <use href="./img/icons/sprite.svg#icon-logo" />
          </svg>
          Memberd
        </a>

        <button class="hamburger-btn" type="button" aria-label="Toggle Menu">
          <span class="hamburger-item"></span>
          <span class="hamburger-item"></span>
        </button>

        <nav class="main-nav">
          <menu class="nav-menu">
            <li class="nav-item">
              <a href="#">Showcase</a>
            </li>
            <li class="nav-item">
              <a href="#">About</a>
            </li>
            <li class="nav-item">
              <a href="#">Split</a>
            </li>
            <li class="nav-item">
              <a href="#">Members</a>
            </li>
            <li class="nav-item">
              <a href="#">Create Moments</a>
            </li>
            <li class="nav-item">
              <a href="#">Mob app</a>
            </li>
          </menu>
        </nav>
      </div>
    </div>
  </header>

  <!-- Main hero content -->
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-content">
        <h1 class="site-heading">EXPERIENCE THE MOMENT</h1>

        <p class="description">
          Launch a Members Club. Increase Community Growth & Retention, Drive
          Revenue, Create Memorable Experiences, and Impact Lives!
        </p>

        <form class="hero-form" action="">
          <label>
            <input
              class="hero-input"
              type="text"
              placeholder="Enter your email address"
            />
          </label>
          <button class="hero-form-btn" type="submit">join</button>
        </form>

        <div class="btn-wrapper">
          <a
            class="store-btn"
            href="https://play.google.com/store/games?pli=1"
            target="_blank"
            rel="noopener noreferrer"
            title="Google Play"
          >
            <img
              class="icon-google"
              src="./img/icons/google-play-button.svg"
              alt="google play logo"
            />
          </a>

          <a
            class="store-btn"
            href="https://www.apple.com/ios/app-store/"
            target="_blank"
            rel="noopener noreferrer"
            title="App Store"
          >
            <img
              class="icon-apple"
              src="./img/icons/app-store-button.svg"
              alt="app store logo"
            />
          </a>
        </div>
      </div>

      <div class="hero-gallery"></div>
    </div>
  </div>
</section>
