<section class="section section-color section-showcase">
  <div class="container showcase-container">
    <div class="showcase-wrapper">
      <div class="showcase-content">
        <h2 class="section-title showcase-title">Showcase. Share. Teach.</h2>
        <p class="showcase-description">Immersive your members in your world</p>
      </div>

      <div class="btn-wrapper">
        <button class="arrow-btn js-btn-prev">
          <svg class="icon-arrow icon-arrow-left">
            <use href="./img/icons/sprite.svg#icon-arrow" />
          </svg>
        </button>

        <button class="arrow-btn js-btn-next">
          <svg class="icon-arrow">
            <use href="./img/icons/sprite.svg#icon-arrow" />
          </svg>
        </button>
      </div>
    </div>

    <ul class="carousel">
      <li class="carousel-item">
        <div class="card-image">
          <img src="./img/carousel/1.jpeg" alt="photo of RICKY GERVAIS" />
        </div>

        <div class="card-thumb">
          <p class="card-description">COMEDIAN</p>
          <h3 class="card-title">RICKY GERVAIS</h3>
        </div>
      </li>

      <li class="carousel-item">
        <div class="card-image">
          <img src="./img/carousel/2.jpeg" alt="photo of SERENA WILLIAMS" />
        </div>

        <div class="card-thumb">
          <p class="card-description">TENNIS PLAYER</p>
          <h3 class="card-title">SERENA WILLIAMS</h3>
        </div>
      </li>

      <li class="carousel-item">
        <div class="card-image">
          <img src="./img/carousel/3.jpeg" alt="photo RICHARD BRANSON" />
        </div>

        <div class="card-thumb">
          <p class="card-description">Entrepreneur</p>
          <h3 class="card-title">RICHARD BRANSON</h3>
        </div>
      </li>

      <li class="carousel-item">
        <div class="card-image">
          <img src="./img/carousel/3.jpeg" alt="photo RICHARD BRANSON" />
        </div>

        <div class="card-thumb">
          <p class="card-description">INFLUENCER</p>
          <h3 class="card-title">Theodora Moutinho</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
