@import url('./utils/variables.css');
@import url('./utils/reset.css');
@import url('./common/common.css');
@import url('./components/buttons.css');
@import url('./components/menu-overlay.css');
@import url('./components/hero-gallery.css');
@import url('./components/carousel.css');
@import url('./sections/hero.css');
@import url('./sections/showcase.css');

body {
  min-height: 100vh;

  margin: 0;

  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}
