<header class="header" role='banner'>
  <div class="container">
    <div class="navbar">
      <a class="site-logo" href="/">
        <img src='./img/header/logo.svg' alt='site logo' width='122' height='24' loading='lazy'>
      </a>

      <button
        class="hamburger-btn"
        type="button"
        aria-label="toggle menu"
        aria-expanded="false"
        data-menu-button
      >
      </button>

      <!--Fullscreen menu partial component-->
      <load ="partials/components/fullscreen-menu.html" />
    </div>
  </div>
</header>
