<section class="section section-color section-showcase">
  <div class="container showcase-container">
    <div class="showcase-wrapper">
      <div class="showcase-content">
        <h2 class="section-title showcase-title">Showcase. Share. Teach.</h2>
        <p class="showcase-description">Immersive your members in your world</p>
      </div>

      <div class="btn-wrapper">
        <button
          class="arrow-btn"
          aria-label="to previous slide"
          data-prev-button
        >
          <img
            class="icon-arrow icon-arrow-left"
            src="./img/icons/icon-arrow.svg"
            alt="arrow left icon"
            loading="lazy"
          />
        </button>

        <button class="arrow-btn" aria-label="to next slide" data-next-button>
          <img
            class="icon-arrow"
            src="./img/icons/icon-arrow.svg"
            alt="icon right icon"
            loading="lazy"
          />
        </button>
      </div>
    </div>

    <!--    Carousel partial component-->
    <load src="partials/components/carousel.html" />
  </div>
</section>
